.file-eMstyle-dropOnly{ 
    padding: 0;
    border-color: #ccc;
    margin-bottom: 0;
    .file-drop-zone-title{
        font-size: 1rem;
        color: $color-default-black;
        >span{
            display: block;
            font-size: .9rem; 
            color: $color-default-gray;
        }
        
    }
    
    .file-drop-zone{
        margin: 0;
        border: none;
        min-height: 230px;
        &.clickable:hover {
            border: none;
            background-color: rgba($color-main-cyan, .1);
        }
    }
    .file-preview-frame {
        width: 100%;
        max-width: 100%;    
        box-shadow: none; 
        padding: 0;
        margin: 10px;
        border: 1px solid transparent;
        position: relative;
        background-color: #fff;
        border-radius: .25rem;
        overflow: hidden;
        @media screen and (min-width: 768px) {
        width: calc(100% - 10px*2);
        max-width: calc(100% - 10px*2);    
        }
        &:hover{
            border-color: #ccc !important;
            box-shadow: none !important;
            transform: scale(1.05);
            transition: transform .35s ease-in;
        }        
    }
    .kv-file-content{
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .file-thumbnail-footer{
        height: auto !important;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        padding: .5rem;
        .file-footer-buttons{
        }
    }
}
.file-zoom-dialog.modal.fade.in {
    background-color: rgba(0,0,0, .5);
}