.userRules{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.userRules-title{
    img{
        width: 60%;
        display: block;
        margin: 0 auto;
        @media screen and (min-width: 576px) {width: 50%;}
        @media screen and (min-width: 768px) {width: 40%;}
        @media screen and (min-width: 992px) {width: 40%;}
        @media screen and (min-width: 1200px) {width: 35%;}
    }
    h2{
        letter-spacing: .1em;
        
    }
}
.userRules-content{
    line-height: 2;
    h3{
        margin-top: 40px;
        font-size: 1.2rem;
    }
    ul{
        list-style: none;    
    }
    p{
        margin-bottom: 1rem;
    }
    h3 + ul{
        padding-left: 3.7em;
        @media screen and (max-width: 767px) {
        padding-left: 1.2em;
        }
        >li{
            text-indent: -1.2em;
            ul{
                padding-left: 2.55em;
                li{
                    text-indent: -2.55em;    
                }
            }
        }
    }
    p + ul{
        padding-left: 0;
        >li{
            ul{
                padding-left: 2.55em + 1.2em;
                li{
                    text-indent: -2.55em;    
                }
            }
        }    
    }
    a{
        text-decoration: none;
        color: $color-main-sky;
        box-shadow: 0 1px $color-main-sky;
        &:hover{
            color: darken($color-main-sky, 7%);
            box-shadow: 0 1px darken($color-main-sky, 7%);
        }
    }
}

