@charset "UTF-8";

@import "base/color";
@import "base/lang";

@import "mixins/buttons";
@import "mixins/icheckColor";
@import "mixins/CWS-modal-tab";
@import "mixins/CWSblock";
@import "mixins/linkeffect";

@import "mend/a";
@import "mend/btn";
@import "mend/container";
@import "mend/embed";
@import "mend/flex";
@import "mend/form";
@import "mend/grid";
@import "mend/jumbotron";
@import "mend/modal";
@import "mend/responsive";
@import "mend/spacing";

@import "modules/Dradio";
@import "modules/editUnit-icon";
@import "modules/icheck";
@import "modules/iconSVG";
@import "modules/keyframes";
@import "modules/link";
@import "modules/more";
@import "modules/navbar-toggle";
@import "modules/page-banner";
@import "modules/progress-bar";
@import "modules/rwd-table";
@import "modules/search-panel";
@import "modules/show_hide_password";
@import "modules/sidebar-right";
@import "modules/sidebar";
@import "modules/table";
@import "modules/ui-common";
@import "modules/ui";

html, body{ 
	line-height:1.5;
	color: $color-default-black;
	font-weight: normal;
	background-color: $color-bg;
    font-size: 20px;
}
.paper-block{
	border: 1px solid #ccc;
	padding: 15px 15px 0 15px;
	background-color: #FFF;
}
.paper-data{
	background-color: darken($color-bg, 5%);
	padding-top: 1rem;
	padding-bottom: 1rem - .5rem;
	h2{
		color: darken($color-main-blue, 20%);
		font-size: 1.4rem;
    	font-weight: 400;
		margin-top: 0;
		padding-left: 15px;
		@media screen and (min-width: 992px) {
		padding-left: 0px;	
		}
	}
	.paper-data__img{ 
		width: 100%;
		height:0;
		padding-bottom: 99.35%;
		background-image: url("../images/paper/learning-img.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	ul{ 
		margin: 0;
		padding: 0;
		list-style: none;
		li{ 
			margin-bottom: .5rem;
			color: $color-default-gray;
			>span{
				width: calc(100% - 1rem - 1rem);
				display: inline-block;
				white-space:nowrap; 
				overflow:hidden;
				text-overflow:ellipsis;
				vertical-align: middle;
			}
			label{		
			}
			&:before{
				content: "â—";
				margin-right: .5rem;
				color: darken($color-main-blue, 20%);
			}
		}
	}
}

.learning-Spaper__content{
	padding-left: 15px;
	padding-right: 15px;
	h3{
		.editUnit-icon{
			margin-right: .25rem;
		}
	}
	.Spaper-chartContent{  
		padding-bottom: 2rem;
		position: relative;
		@media screen and (min-width: 992px) {
		padding-left: 2rem + .25rem;	
		}
		&:not(:last-child)::after{
			content: "";
			display: block;
			width: calc(100% + 15px + 15px + 15px + 15px);
			height: 20px;
			position: absolute;
			left: -15px - 15px;
			right: 0;
			bottom: 0;	
			border-top:1px solid #ccc;
		}
		
		.chart-canvas__block{
			position: relative;
			.xlabelString{
				font-size: 14px;
				color: $color-default-gray;
				position: absolute;
				bottom: calc(1.5rem + 15px + 50px - 10px - 14px - 2px);
				right: -8%;
                display: inline-block;
                width: 8%;
                padding-left: 5px;
			}
			.legends{
				height: 1rem*1.5;
				font-size: .8rem;
				color: $color-default-gray;
				text-align: center;
				/*padding-left: 150px;*/
				.legend-item{ 
					margin: 0 1rem;
					>span{
						display:inline-block;
						width: 2rem;
						height: 1rem;
						margin-right: .25rem;
						vertical-align: middle;
					}
				}
			}
		}
	}
}

/**/
h3.deco-line{
	color: darken($color-main-blue, 20%);
	font-weight: 400;
	>small{
		font-size: .8rem;
		margin-left: .5rem;
		color:  lighten($color-default-gray, 10%);
	}
}
.deco-line{
	background-image: url(../images/base-h2-cover.png), url(../images/navi-main-line.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left bottom;
    background-size: 50% 1px, 50% 1px;
	padding-bottom: .25rem;
}
h3.deco-bg{
	color: #FFF;
	font-weight: 400;
	>small{
		font-size: .8rem;
		margin-left: .5rem;
		color: #ccc;
	}
}
.deco-bg{
	background-color: darken($color-main-blue, 20%);
	color: #FFF !important; 
	margin-left: -15px; 
	margin-right: -15px; 
	padding: 10px 15px; 
}
.chart-canvas__block{
	margin-bottom: 60px;
	.title{
		font-size: 1.1rem;
		color: $color-default-gray;
		font-weight: 400;
		text-align: center;
		margin: 1rem 0;
	}
	.legends{
		text-align: center;
		margin-top: 15px;
		.legend-item{
			height: 1rem*1.5;
			font-size: .8rem;
            color: $color-default-black;
			margin: 0 .5rem;
			&[data-toggle="modal"]{
				cursor: pointer;
				&:hover{
					color: $color-text-red;
				}
			}
			>span{
				display:inline-block;
				width: 2rem;
				height: 1rem;
				margin-right: .25rem;
				vertical-align: middle;
			}
		}
	}
}
.score-Spaper__content{
	h3{ 
		font-weight: 400;
		.editUnit-icon{
			margin-right: .25rem;
		}
		>small.pull-right{
			font-size: .9rem;
			margin-top: .5rem;
			
		}
	}
	.score-Spaper__record-panel{
		.panel-body{
			@media screen and (min-width: 768px) {
			padding-left: calc(2rem + .25rem + 15px);
			}	
		}
		.activity-item{
			padding-bottom: 1.5rem;
			margin-bottom: 1.5rem;
			border-bottom: 1px solid #ccc;
			.verticalAlign{
				font-size: .85rem;
				line-height: 38px;
				color: $color-default-gray;
				>img{
					vertical-align: middle;
				}
				big{
					font-size:  1rem;
					font-weight: 400;
					vertical-align: middle;
				}
				.more{
					margin-top: .5rem;
				}
			}
			.progress{
				vertical-align: middle;
				border-radius: 20px;
				margin-top:  9px;
				margin-bottom: 0;
				.progress-bar{

				}
			}
		}
	}
	.score-Spaper__detail-panel{ 
		.panel-heading{
			background-color: #ebebeb;
			border-radius: 10px;
			.panel-title{
				font-size: 1rem;
				font-weight: 400;
				color: $color-default-gray;
				vertical-align: middle;
				>img{
					margin-right: .25rem;
					vertical-align: middle;
				}
			}
		}
		.panel-body{
			padding-top: 0;
			>table{
				font-size: .9rem;
				>thead>tr>th, >thead>tr>td{
					color: $color-default-black;
					font-weight: 400;	
				}
				>tbody>tr{ 
					cursor: pointer;
					&:hover{
						background-color: lighten($color-main-skin, 20%);
					}
				}
				>tbody>tr>th, >tbody>tr>td{
					color: $color-default-gray;
					&:nth-child(1){ width: 20%;}
					&:nth-child(2){ width: 40%;}
					&:nth-child(3){ width: 40%;}
				}
			}		
		}
	}
	.modal-blue{
		.modal-header{
			.modal-title{
				font-size: 1rem;
				color: $color-default-gray;
			}
		}
		.modal-body{
			.Qnum {
				font-weight: 400;
				margin-bottom: .25rem;
			}	
		}
	}
}
.score-Gpaper__content{
	.chart-canvas__block{
		margin-bottom: 60px;
		@media screen and (min-width: 992px) {
		margin-bottom: 20px;	
		}
		@media screen and (min-width: 1200px) {
		margin-top: 40px;
		margin-bottom: 40px;	
		}

	}
}
.Gpaper-correctBlock{
	padding: 15px;
	background-color: #f9f9f9;
	border:1px solid #ddd;
	margin-top: 25px;
	position: relative;
    border-radius: 0 10px 10px 10px;
    box-shadow: 2px 2px 10px rgba(0, 51, 102, .2);
    @media screen and (min-width: 992px) {
	&:after{
		content: "";
		display: block;
        width: 33.33333333%;
        height: 50px;
        background-image: url("../images/paper/correct-arrow.png");
        background-size: 100% 100%;
        position: absolute;
        top:0;
        left: -33.33333333%;
	}
	}
    @media screen and (min-width: 1200px) {
    &:after{
        height: 65px;
    }
    }    
}
.modal-correctDetail{
    
    .correctDetail-table{ 
        tr>th, tr>td{
            &:nth-child(1){ width: 10%;}
            &:nth-child(2){ width: 40%;}
            &:nth-child(3){ width: 50%;}
        }
        >thead{
            >tr>th, >tr>td{
                background-color: $color-bg;
                color: $color-default-black;
                font-weight: 400;
                padding: .5rem 15px;
            }
        }
        >tbody{
            >tr>th, >tr>td{
                color: $color-default-gray; 
                padding: .5rem 15px; 
                .correctDetail-progress{
                    padding-right: 60px;
                    position: relative;
                    .progress{
                        margin-bottom: 0;
                        border-radius: 20px;
                    }
                    .correctDetail-progress-value{ 
                        display:inline-block;
                        width: 60px;
                        height: 20px;
                        text-align: right;
                        font-size: .8rem;
                        line-height: 20px;
                        font-weight: 400;
                        color: $color-default-black;
                        position: absolute;
                        top:0;
                        right: 0;
                    }
                }
            }
        }
    }
}
