//生字詞卡
//TEACHER PDF 
.flashCard-bg {
    background: #f9f9f9;
}
.flashCard-block {
    * {
        box-sizing: border-box;
    } 
    background-color: #FFF;
    width: 1024px;
    height: 1448px;
    margin: 40px auto;
    page-break-after:always;
    box-shadow: inset  1px  1px #7f7f7f, 
                inset -1px -1px #7f7f7f,  
                inset -1px  1px #7f7f7f,  
                inset  1px -1px #7f7f7f;
}
.flashCard-item {
    width: 50%;
    height: 20%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 30% auto;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1); 
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);  
}
.sideA .flashCard-item{ 
    float: left;
    background-image: url("../../Content/images/eMPOWER-img.svg");
    background-position: left 15px bottom 15px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
}
.sideB .flashCard-item{ 
    float: right;
    background-image: url("../../Content/images/eMPOWER-img.svg");
    background-position: right 15px top 15px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
}

.flashCard-item .literal,
.flashCard-item .pinyin{
    background-color: rgba(255,255,255, .65);  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    border: 1px dashed #d2d2d2;
    padding: 20px;
    
    ruby{
        rbc, rtc{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        rb{ 
            line-height: 1.1;
        }
    }
}    
.flashCard-item .literal {
    @extend .font-hz;
    font-size: 100px;
    border-right: 1px dashed #ddd;
}
 .flashCard-item .pinyin {
    @extend .font-py;
    font-weight: bold;
    font-size: 33px;
    word-break: break-all;
    rt{
        font-size: 33px;    
    }
}
.flashCard-item .def { 
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    @extend .font-py;
    font-size: 20px;
    padding: 20px;
    line-height: 1.4;
    text-align: left;
    display: inline-flex;
    justify-content: center;
}
@page { 
    size: A4 portrait; 
    height: 100%; 
    margin: 0; 
}
@media print{
    .flashCard-bg {
        background: #fff;
    }
    .flashCard-block{
        width: 100%; 
        height: 100%; 
        max-width: 1024px; 
        max-height: 1448px;
        margin: 0;
    }
    .flashCard-item {
        .literal { 
            font-size: 64px; 
            * { 
                font-size: 64px; 
            }
        }
    }
}  
