//聽打練習
.CA-listen{
    @include CAstyle($color-listen);
}

.CA-listen__num{ 
    width: 3rem;
    text-align: right;
    display: inline-flex;
    justify-content: flex-end;
    padding-right: .5rem;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 500;
}

//STUDENT LIVE
.CA-listen__input{
    background-color: transparent;
    border-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: $cyan;
    caret-color: #00b0ec;
    width: calc(100% - 3rem);
    &:focus{
        background-color: transparent;
        border-color: transparent;
        border-bottom-width: 2px;
        border-bottom-color: $cyan;
        box-shadow: none;
    }
    &:-webkit-autofill, 
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset;
        box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset;
        transition: background-color 5000s ease-in-out 0s;    
    }
    &[disabled], &[disabled="disabled"], .disabled{
        background-color: transparent;
        cursor: not-allowed;
    }
}
.CA-listen__wrap{
    padding-bottom: 5.2rem; 
    .top-0{//答題中
        + div{
            margin-bottom: 5.2rem;     
        }
    }
    .top-25{//等待中
        + div{
            margin-bottom: 0; 
        }
    }
}
.CA-listen__tools{ 
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    @media screen and (min-width: 992px) {
    width: 66.66666667%;
    }
    .CA-listen__tools-bg{
        background-color: transparent;
        border-radius: 0;
        @media screen and (min-width: 992px) {
        border-radius: .5rem .5rem 0 0;    
        }    
        .CA-listen__tools-tips{
            font-size: 1rem;
            margin-bottom: .75rem;
            @media screen and (min-width: 1200px) {
            margin-bottom: 0;    
            }
            .tips-icon{
                float: left;
                position: relative;
                margin-right: .5rem;
                border-radius: 100%;
                width: 3rem;
                height: 3rem;
                text-align: center;
                margin-top: 0.2rem;
                &::before{
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900;
                    font-size: 1.8em;
                    color: #fff;
                    line-height: 3.2rem;
                }   
            }
            .tips-words{
                font-size: 1.2rem;   
                font-weight: bold;
            }
            .tips-comments{
                font-size: .9rem;
                color: $gray-700;
            }
        }
        .CA-listen__tools-btn{
            display: block;
            width: 100%;
            @media screen and (min-width: 1200px) {
            display: inline-block; 
            width: auto; 
            margin: .4rem 0;
            }    
        }
    }
}
.CA-listen__tools.correct{
    .CA-listen__tools-bg{ 
        background-color: lighten($green, 50%);
        box-shadow: 0 0 10px rgba(0,0,0, .2);
        .CA-listen__tools-tips{
            .tips-icon{
                background-color: $green;
                &::before{
                    content: "\f00c";
                } 
            }    
        }
    }
}
.CA-listen__tools.wrong{
    .CA-listen__tools-bg{ 
        background-color: lighten($red, 25%);
        box-shadow: 0 0 10px rgba(0,0,0, .2);
        .CA-listen__tools-tips{
            .tips-icon{
                background-color: $red;
                &::before{
                    content: "\f00d";
                }  
            }     
        }
    }
}
.Swaiting{
    &::after{
        content: "";
        animation: ANtype 4s infinite;
    } 
}

//TEACHER LIVE 
.CA-listen__circle{
    display: inline-block;
    min-width: 7rem;
    min-height: 7rem;
    margin: 0 auto;
    .circle-wrap{ 
        min-width: 7rem;
        min-height: 7rem;
        position: relative;
        border-radius: 100%;
        border-width: 5px;
        border-style: solid;
        .circle-text{ 
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: 1px 1px 5px rgba(0,0,0, .05);
            text-align: center;
            padding-top: .5rem;
            >div:nth-child(1){
                font-size: .95rem;
                padding-left: .75rem;
                padding-right: 1rem;
                line-height: 1.2; 
            }
            >div:nth-child(2){ 
                line-height: 1; 
            }
        }
    }
}
.CA-listen__progress{
    position: absolute;
    top: .5rem;
    .progress{
        background-color: #fff;
        box-shadow: inset  1px  1px rgba($cyan, .15), 
                    inset -1px -1px rgba($cyan, .15), 
                    inset -1px  1px rgba($cyan, .15), 
                    inset  1px -1px rgba($cyan, .15);
    }
    .progress-bar{
        text-align: right;  
        padding-right: .5rem;
    }
}
.CA-listen__heading{
    h2> small{
        &::after{
            content: "";
            animation: ANtype 4s infinite;
        }
    }
}
.CA-listen__topic{ 
    .topic-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0 5rem 0;
        @media screen and (min-width: 768px) {
        flex-direction: row;    
        justify-content: space-between;   
        }  
        .CA-listen__num{ 
            align-items: center;  
            padding-right: 1rem;
            margin-left: -3rem;
        }
    }
    .topic-title{ 
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        padding-left: 3rem;
        .topic-answer{
            display: flex; 
            flex-wrap: wrap;
            font-size: 1.8rem;
            margin: 1rem; 
            word-break: break-all; 
            >span:nth-child(2){
                @extend .font-py;
                margin-left: .25rem;
            }
        }
    }
    .topic-counter{  
        width: 8rem;
        height: 8rem;
        float: right;
        background-image: url("../images/classActivity/counter.svg");
        background-position: center center;
        background-size: 100% 100%; 
        font-size: 3rem;
        font-weight: 700;
        padding-top: 1.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $red;
        margin-top: 1rem;
        @media screen and (min-width: 768px) {
        margin-top: 0;    
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 2rem;  
        }
    }
}
.CA-listen__board{
    .board-block{
        background-color: #fff;
        border: 5px solid $cyan;
        border-radius: .5rem;
        padding: 3rem 1rem 1rem;
        margin-top: 7rem;
        margin-bottom: 2rem;
        position: relative;
        @media screen and (min-width: 576px) {
        margin-top: 7rem - 2rem;    
        }    
    }
    .board-btns{
        position: absolute; 
        bottom: calc(100% + 5rem);
        right: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        @media screen and (min-width: 576px) {
        bottom: calc(100% + 2.5rem);
        transform: translateY(50%);
        width: auto;  
        margin-bottom: 0;    
        }
    }
    .board-circles{ 
        padding: 0 .5rem;
        position: absolute;
        bottom: 100%;
        left: 0;
        transform: translateY(2rem);
        display: flex;
        justify-content: center;
        width: 100%;
        @media screen and (min-width: 576px) {
        width: auto;    
        }
        .CA-listen__circle{
            margin:0 .5rem;
        }   
    }
    .board-contestants{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

