@import "base/color";
@import "base/UI";

.bg-grid.col-lg-3,
.bg-grid.col-xxl-2{ 
    .CA-logo h1{ 
        width: 100%;
        @media screen and (min-width: 992px) { 
        font-size: calc(3.0rem/2);  
        margin-left: -1.5rem;
        margin-right: -1.5rem;       
        } 
        @media screen and (min-width: 1200px) {
        font-size: calc(3.6rem/2);    
        }
    }
    .CA-code{
        @media screen and (min-width: 992px) {
        width: 100% !important;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        }    
    } 
    .CA-QRcode{
        @media screen and (min-width: 992px) {
        width: 100% !important;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        }
    }
}

.CA-welcomeWait{
    h2{
        text-align: center;
        font-size: 1.75rem;
    }
    h3{
        text-align: center;
        font-size: 1.2rem;
        color: $gray-600;
        font-weight: 400;
        &::after{
            content: "";
            animation: ANtype 4s infinite;
        } 
    }
    &.start{     
    }
    &.next{
        h2{
            display: none;
        }
    }
    &.end{
        h2{
            display: none;
        }
        h3{
            &::after{
                display: none;
            }     
        }
    }
}

.CA-circle{
    display: inline-block;
    min-width: 7rem;
    min-height: 7rem;
    margin: 0 auto;
    .circle-wrap{ 
        min-width: 7rem;
        min-height: 7rem;
        position: relative;
        border-radius: 100%;
        border-width: 5px;
        border-style: solid;
        .circle-text{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
	    border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: 1px 1px 5px rgba(0,0,0, .05);
	    text-align: center;
            padding-top: .5rem;
            >div:nth-child(1){
                font-size: .95rem;
                padding-left: .75rem;
                padding-right: 1rem;
                line-height: 1.2; 
	    }
        }
    }
}
.CA-board{ 
    .board-btns{
        position: relative; 
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        z-index: 1;
        @media screen and (min-width: 576px) {
        position: absolute;
        top: 4.5rem;
        right: .75rem;
        width: auto;  
        margin-bottom: 0; 
            transform: translateY(calc(-100% - .75rem));
        }
    }
    .board-circles{ 
        position: relative; 
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
        padding: 0 .5rem;
        @media screen and (min-width: 576px) {
        position: absolute;
        width: auto; 
        top: 0;
        left: .75rem;
        }
        .CA-circle{
            margin:0 .5rem;
        }   
    }
    .board-block{ 
        position: relative;
        background-color: #fff;
        border: 5px solid $color-CA;
        border-radius: .5rem;
        padding: 2.75rem 1rem 1rem;
        margin-top: -2.5rem;
        height: 75vh;
        overflow-y: scroll;
        @media screen and (min-width: 576px) {
        margin-top: 4.5rem;  
        height: calc(77vh - 4.5rem - 1.5rem*2);    
        } 
        &::-webkit-scrollbar{  
            width: 16px;  
            background-color: transparent;
        }  
        &::-webkit-scrollbar-track {
            background-color: transparent;
        } 
        &::-webkit-scrollbar-thumb {
            background-color: $color-CA;
            border-radius: 16px;
            border: 4px solid #fff;
        }
        
        .board-contestants{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .contestant{
                max-width: 50%;
                white-space:nowrap; 
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }
    } 
}

.CA-topic-circle{ 
    display: flex;
    .topic-circle-num{
        min-width: 3.2rem;
        min-height: 3.2rem;
        width: 3.2rem;
        height: 3.2rem;
        max-width: 3.2rem;
        max-height: 3.2rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        font-style: normal;
        background-color: $color-CA;
        color: #fff;
        border-radius: 100%;
        margin-right: .75rem;
    }
    .topic-circle-text{
        font-size: 1.2rem;
        min-height: 3.2rem;
        display: inline-flex;
        align-items: center;
    }
}
.CA-topic-pic{
    padding-left: 3.2rem + .75rem;
}

.CA-lightbox{
    position: relative;
    padding: 0;
    &::after{
        content: "\f00e";
        display: block;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        color: $color-CA;
        position: absolute;
        top: 0;
        left: 0; 
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: .25rem .5rem;
    }
    &:hover{
        transform: scale(1.05);
        transition: all 0.5s ease;
    }
}
.modal-maxImg{
    .modal-content .modal-body{
        img{ 
            max-height: calc(100vh - .5rem*2 - 1rem*2 - 1px*2);
            @media screen and (min-width: 576px) {
            max-height: calc(100vh - 1.75rem*2 - 1rem*2 - 1px*2);
            }    
        }    
    } 
}

.CA-ansDialogue{
    display: flex;
    .contestant{ 
        margin: 0 1rem 0 0;  
        max-width: 3.2rem;
        word-break: break-all;
        overflow: visible; 
        white-space: nowrap; 
        font-size: .9rem;    
        transform: translate(calc(100% + 1rem*.5), calc(-3.2rem - .25rem - 1rem*1.5 - .25rem));
        align-items: flex-start;
        .avater{
            transform: translate(calc(-100% - 1rem*.5), calc(3.2rem + .25rem));
        }
    }
    .ansDialogue-block{
        background-color: #fff;
        border: 5px solid $color-CA;
        border-radius: 0 .5rem .5rem;
        height: 40vh;
        min-height: 350px;
        width: calc(100% - 3.2rem);
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1rem 1rem 0;
            border-color: transparent $color-CA transparent transparent;
            position: absolute;
            top: -5px;
            left: -1rem;
        }
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 calc(1rem - 5px*2) calc(1rem - 5px*2 - 2px) 0;
            border-color: transparent #fff transparent transparent;
            position: absolute;
            top: 0;
            left: calc(-1rem + 5px*2);
        }
    }
}
.CA-dialogueChat{
    display: inline-block;
    width: 100%;
    .dialogueChat-name{
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: .5rem;
        text-align: left;
        width: 100%; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow:ellipsis;
        min-height: 1em*1.5;
    }
    .dialogueChat-text{
        font-size: 1.2rem;
        background-color: rgba($color-CA, .2);
        padding: .5rem .75rem;
        border-radius: .25rem;
        text-align: left;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 .375rem .5rem .375rem;
            border-color: transparent transparent rgba($color-CA, .2) transparent;  
            position: absolute;
            left: .75rem;
            top: -.5rem;
        }
    }
    
    .dialogueChat-name.collapse + .dialogueChat-text::after {
        display: none;
    }
    .dialogueChat-name.collapse.show + .dialogueChat-text::after {
        display: block;
    }
}
.CA-dialogueChat:hover{
    .dialogueChat-name{ 
        font-weight: bold;
    }
    .dialogueChat-text{
        background-color: rgba($color-CA, .5);
        &::after{
            border-color: transparent transparent rgba($color-CA, .5) transparent;     
        }
    }
}
.pic-name{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
}

.CA-end{
    .modal-content{
        background-color: transparent !important;
        .modal-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../images/classActivity/fireworks.png"), 
                              url("../images/classActivity/fireworks.png");
            background-repeat: no-repeat, 
                               no-repeat;
            background-position: left 10% top 10%, 
                                 right 10% bottom 10%;
            background-size: 20% auto, 
                             30% auto; 
            &::before{
                content: "";
                display: block;
                width:  10%;
                height: 0;
                padding-bottom: 10%;
                background-image: url("../images/classActivity/fireworks.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 10%;
                right: 20%;
                animation: fadeIn 15s ease-in-out;
            }
            &::after{
                content: "";
                display: block;
                width:  8%;
                height: 0;
                padding-bottom: 8%;
                background-image: url("../images/classActivity/fireworks.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute; 
                bottom: 10%;
                left: 20%;
                animation: fadeIn 5s ease-in-out;
            }
            
            .end-title{
                font-size: 12vw;
                font-weight: bold;
                color: #FFFEA1;
                letter-spacing: .5rem;
                text-shadow: 1px  1px darken($color-CA, 15%), 
                            -1px -1px darken($color-CA, 15%),
                            -1px  1px darken($color-CA, 15%),
                             1px -1px darken($color-CA, 15%),
                             2px  2px $color-CA, 
                             3px  3px $color-CA, 
                             4px  4px $color-CA, 
                             5px  5px $color-CA;
                @media screen and (min-width: 992px) {
                font-size: 4.25rem;   
                }
            }
            .end-download{
                font-size: 1.5rem;
                width: 3.5rem;
                height: 3.5rem;
                background-color: #FFFEA1;
                color: $color-CA;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid darken($color-CA, 15%);
                box-shadow: 2px  2px $color-CA, 
                            3px  3px $color-CA, 
                            4px  4px $color-CA, 
                            5px  5px $color-CA;
                margin-top: 1rem;
                &:hover{
                    background-color: darken(#FFFEA1, 5%);  
                    color: darken($color-CA, 5%);
                    border: 1px solid darken($color-CA, 20%);
                    box-shadow: none;
                    position: relative;
                    top: 5px;
                    left: 5px;
                }
            }
            .end-remark{
                color: #fff; 
                margin-top: 3rem;
                text-align: center;
            }
            .end-close{
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                .btn{
                    animation: fadeIn 6s ease-in-out;
                }
            }
        }
    } 
    &.zoom.show {
        animation: zoomIn 2s ease-out; 
    }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  30% {
    transform: scale(1.2);
  }  
  100%{
    transform: scale(1);
  }
}

.CA-check{
    .form-check-input{
        background-color: #fff;
        &:focus {
            border-color: $color-CA;
            box-shadow: 0 0 0 0.25rem rgba($color-CA, 0.25);
        }
        &:checked{
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.25);    
        }
        &:checked[type="radio"] { 
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%233dbcba'/></svg>");
            background-size: 130% 130%;
        }
    }
}
.CA-check:hover{
    .form-check-input{
        border-color: $color-CA;         
    }
    .form-check-label{
        color: $color-CA;
    }
}

.CA-T-preview{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    z-index: 1099;
    .T-preview-text{
        background-color: rgba(#212529, .5);
        color: #fff;
        padding: .5rem 1rem; 
        box-shadow: 0 0 .5rem rgba(0,0,0, .25);
        text-align: center;
        @media print{
        display: none;        
        } 
    }
    .T-preview-prev{
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 1.4rem;
        transform: translateY(-50%);
        border-radius: 0 100% 100% 0;
        box-shadow: 0 0 .5rem rgba(0,0,0, .25);
        opacity: .5;
        &:hover{
            opacity: .75;    
        }
        &.disabled, &[disabled], &[disabled="disabled"]{
            opacity: 0;    
        }
    }
    .T-preview-next{
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 1.4rem;
        transform: translateY(-50%);
        border-radius: 100% 0 0 100%;
        box-shadow: 0 0 .5rem rgba(0,0,0, .25);
        opacity: .5;
        &:hover{
            opacity: .75;    
        }
        &.disabled, &[disabled], &[disabled="disabled"]{
            opacity: 0;   
        }
    }
}

.CA-counter{
    width: 160px;
    height: 160px;
    max-width: 160px;
    max-height: 160px;
    background-image: url("../images/classActivity/counter.svg");
    background-size: cover; 
    text-align: center;
    position: relative;
        > label{
            font-size: 1.7rem;
            font-weight: 700;
            color: $gray-900;
            position: absolute;
            top: 14%;
            bottom: 0;
            left: 7%;
            right: 7%;
            display: flex;
            justify-content: center;
            align-items: center;
        }  
}

.CA-collapse-list{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.243' height='34.243' viewBox='0 0 32.243 34.243'%3E %3Cg id='Group_695' data-name='Group 695' transform='translate(-1427.047 -589.047)'%3E %3Cpath id='user-group-solid' d='M2.666,3.554A3.554,3.554,0,1,1,6.22,7.108,3.554,3.554,0,0,1,2.666,3.554ZM0,13.392A4.95,4.95,0,0,1,4.951,8.441H7.489a4.95,4.95,0,0,1,4.951,4.951.825.825,0,0,1-.825.825H.825A.825.825,0,0,1,0,13.392Zm16.919.825H13.089a1.778,1.778,0,0,0,.239-.889v-.222A5.541,5.541,0,0,0,11.39,8.891c.067,0,.131-.006.2-.006h1.7a4.478,4.478,0,0,1,4.479,4.479A.853.853,0,0,1,16.919,14.217ZM12,7.108a3.1,3.1,0,0,1-2.2-.914,4.445,4.445,0,0,0,.361-4.7A3.11,3.11,0,1,1,12,7.108Z' transform='translate(1433.161 597.212)' fill='%233dbcba'/%3E %3Cg id='Ellipse_36' data-name='Ellipse 36' transform='translate(1427.047 589.047)' fill='none' stroke='%233dbcba' stroke-width='3'%3E %3Ccircle cx='15' cy='15' r='15' stroke='none'/%3E %3Ccircle cx='15' cy='15' r='13.5' fill='none'/%3E %3C/g%3E %3Cline id='Line_24' data-name='Line 24' x2='3' y2='3' transform='translate(1452.047 616.047)' fill='none' stroke='%233dbcba' stroke-linecap='round' stroke-width='6'/%3E %3C/g%3E %3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-left: 1.5rem + .25rem;
    color: $color-CA;
    background-color: transparent;
    border: none;
    position: fixed;
    transform: translateX(-100%);
    text-wrap: nowrap;
    z-index: 9;
    filter:drop-shadow(0 0 5px rgba(255,255,255, .5));
    &:hover{
        filter: invert(49%) sepia(90%) saturate(290%) hue-rotate(130deg) brightness(92%) contrast(94%); 
    }
}

.CA-backdrop{
    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($black, .85);
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

//student LIVE
.ansMethod{
    position: relative;
    /*type*/
    textarea{
        resize: none; 
        cursor: auto;
        &:focus{
            box-shadow: none;    
        }
        &::-webkit-scrollbar{  
            width: 16px;  
            background-color: transparent;
        }  
        &::-webkit-scrollbar-track {
            background-color: transparent;
        } 
        &::-webkit-scrollbar-thumb {
            background-color: $color-CA;
            border-radius: 16px;
            border: 4px solid #fff;
        } 
    } 

    /*pic*/
    .btn-expand{
        padding: 0;
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);  
    }
    .btn-compress{
        padding: 0;
        width: 1.6rem;
        height: 1.6rem;
        position: fixed;
        top: .25rem;
        right: .25rem;
        z-index: 2002;
    }
    iframe{
        border-radius: 0.25rem;
        &.expanding{
            position: fixed;
            top:0;
            left: 0;
            right: 0;
            border: 0;
            z-index: 2001;
        }
    }  

    /*check*/

    
    /*check*/
}

//你問我答
@import "pages/openQ";

//選你所想
@import "pages/poll";

//滿意度大調查
@import "pages/rating";

//看影片回答問題
@import "pages/video";