@import "base/color";
/* pdf2 UI */
html, body{
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Microsoft JhengHei', 
                 'Microsoft YaHei', 
                 'PingFang TC', 'PingFang SC', 
                 'Heiti TC', 'Heiti SC', 
                 'LiHei Pro','STXihei',
                 sans-serif;
    @media print { 
    -webkit-print-color-adjust: exact; 
    }
}

.pdf-bg{
    background-color: #f9f9f9;
}
.pdf-block {
    * {
        box-sizing: border-box;
    } 
    background-color: #FFF !important;
    width: 1024px;
    min-height: 1448px;
    margin: 40px auto;
    page-break-after: always;
    box-shadow: 0 0 3px rgba(0,0,0, .1);
    @media print{
    box-shadow: none; 
    margin: 0 auto;    
    }
}
.pdf-header{
    width: 100%;
    height: 200px;
    position: relative;
    padding: 40px 300px 40px 60px;
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 456px 175px 0;
        //border-color: transparent #AFFDCD transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 200px 1024px 0 0;
        //border-color: #E6FDEF transparent transparent transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .pdf-title{
        position: relative;
        z-index: 3;
        padding-left: 150px + 10px;
        .pdf-title-img{
            width: 150px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%); 
            > img{
                width: 100%;
                height: auto;
            }    
        }
        h1{
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.2;
            max-height: 1.8rem*1.2*2;
            overflow: hidden;
        }
        small{
            font-size: .9rem;
            color: $gray-600;
        }
        &::before{
            content: "";
            display: block;
            
        }
    }
    .pdf-em{
        position: absolute;
        z-index: 3;
        width: 170px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        top: 50px;
        right: 20px;
    }
}
.pdf-main{ 
    padding: 15px 60px 15px 60px;
    min-height: 1448px - 200px - 50px;
}
.pdf-footer{
    width: 100%;
    height: 50px;
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 50px 1024px;
        //border-color: transparent transparent #AFFDCD transparent; 
    }
}

.pdf-topic{
    display: flex;
    margin-bottom: 30px;
    .pdf-topic-title{
        display: flex;
        margin-right: auto;
        .th-num{
            margin-right: .25rem;
        }
    }
    .pdf-topic-img{
        min-width: 120px;
        max-width: 120px;
        width: 120px;
        height: 90px;//4:3
        margin-left: 15px;
        > img{
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
        }
    }
    .pdf-topic-chart{ 
        min-width: 530px;
        max-width: 530px;
        width: 530px;
        min-height: 265px;
        max-height: 265px;
        height: 265px;
        padding-left: 15px;
        position: relative;
        .chart-img{ 
            position: absolute;
            top:0;
            left: 15px;
            right: 0;
            bottom: 0;
            display: none;
            @media print{
                display: block;    
            }
        }
    }
}
.pdf-numPeople{
    font-size: .9rem;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
    >span{
        background-color: #fff !important;
        color: $gray-700;
        position: relative;
        z-index: 2;
        padding-left: .5rem;
    }
    >label{
        background-color: #fff !important;
        //color: darken($color-openQ, 75%); 
        font-weight: bold;
        position: relative;
        z-index: 2;
        padding-right: .5rem;
        &:last-child{
            padding-right: 0;    
        }
    }
    &::before{
        content: "";
        display: block;
        width: 100%;
        //border-bottom: 1px dashed darken($color-openQ, 50%); 
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        right: 0;
    }
}
.pdf-table{
    border-collapse:collapse;
	border-spacing:0;
	padding: 0px;
	margin: 0px;
    width: 100%;
    >thead{
        display: table-header-group;  
        >tr{
            >th, >td{
                padding: .25rem .5rem;
                background-color: #F9F9F9 !important;
                border: 1px solid #ccc;
                font-size: .95rem;
                color: $gray-900;
                text-align: left;
                height: 50px;
            }
            .title-option{
                float: left;    
            }
            .title-num{
                float: right;
                color: $color-CA; 
                font-weight: bold;
            }
        }
    }
    >tbody{
        >tr{
            >th{
                padding: .25rem .5rem;
                background-color: #F9F9F9 !important;
                border: 1px solid #ccc;
                font-size: .95rem;
                color: $gray-900;
                text-align: left;
                height: 50px;
            }
            >td{
                padding: .25rem .5rem;
                background-color: #FFF !important;
                border: 1px solid #ccc;
                font-size: .9rem;
                color: $gray-700;
                text-align: left;
                height: 50px;
            }
            .pdf-table-title{
                .title-option{
                    float: left;    
                }
                .title-num{
                    float: right;
                    color: $color-CA; 
                    font-weight: bold;
                }
            }
            .pdf-table-bar{   
                padding: 0;
                height: 10px;
                background-color: #ccc !important;
                .poll-progress{
                    height: 10px;
                    background-color: $color-CA !important;
                }
            }
            .pdf-table-content{
                padding: 0;  
                .content-row{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: -1px;
                    .content-col{
                        width: 25%;
                        height: 51px;
                        line-height: calc(51px - .25rem*2);
                        padding: .25rem .5rem;
                        white-space:nowrap; 
                        overflow: hidden;
                        text-overflow:ellipsis;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        margin-top: -1px;
                        page-break-inside: avoid;
                    }
                }
            }
        }
    }
}


@mixin pdfStyles($path, $color1, $color2) {
//.pdf-block{
    .pdf-header{
        &::before {
            border-color: transparent $color2 transparent transparent;
        }
        &::after {
            border-color: $color1 transparent transparent transparent;
        }
        
        .pdf-title{
            &::before{
                background-image: url("../images/classActivity/#{$path}-icon.png") !important;
            }
        }
    }
    .pdf-footer{
        &::after{
            border-color: transparent transparent $color2 transparent;
        }
    }
    
    .pdf-numPeople{
        >label{
            color: darken($color1, 55%); 
        }
        &::before{
            border-bottom: 1px dashed darken($color1, 55%); 
        }
    }
//}
}    

/* openQ-pdf */
.pdf-block.openQ-pdf {
    @include pdfStyles('openQ', $color-openQ, #AFFDCD); 
    
    .openQ-table{
        >thead, >tbody{
            >tr >th,  >tr >td{
                page-break-inside: avoid;
                &:nth-child(1){
                    width: 300px;
                }
            }
        }
    }
    .openQ-pic{
        display: flex;
        flex-wrap: wrap;
        .openQ-pic-item{ 
            page-break-inside: avoid;
            margin: 10px 15px;
            &:nth-child(2n-1){
                margin-left: calc((100% - (360px + 15px*2)*2)/2);
            }
            &:nth-child(2n){
                margin-right: calc((100% - (360px + 15px*2)*2)/2);
            }
            .openQ-pic-name{
                font-size: .9rem;
                color: $gray-700;
                width: 360px;
                margin-bottom: 5px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .openQ-pic-pic{
                width: 360px;
                height: 270px;
                max-width: 360px;
                max-height: 270px;
                border: 1px solid lighten(#ccc, 10%);
                display: flex;
                justify-content: center;
                align-items: center;
                > img{
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

/*poll-pdf */
.pdf-block.poll-pdf {
    @include pdfStyles('poll', $color-poll, #1662D3);
    
    .poll-table{
        &:not(:first-child){
            margin-top: -1px;
        }
    }
    .poll-table.top1{
        .title-num{
            color: #0088FF;  
        }
        .pdf-table-bar .poll-progress{
            background-color: #0088FF !important;
        }
    }
}

/*rating-pdf */
.pdf-block.rating-pdf {
    @include pdfStyles('rating', $color-rating, #FFEB76);
    
    .rating-table{
        &:not(:first-child){
            margin-top: -1px;
        }
        .title-option{ 
            &::after{
                content: "";
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900;
                letter-spacing: .15em;
                color: $color-CA;
                margin-left: .25rem;
            }
        }
        .title-num{
            color: $gray-900;  
            font-weight: normal;
            >label{
                color: $color-CA;
                font-weight: bold;
            }
        }
    }

    .pdf-stuAns{
        >.rating-table.heart{
            &:nth-child(1) .title-option::after{content:"\f004";}
            &:nth-child(2) .title-option::after{content:"\f004\f004";}
            &:nth-child(3) .title-option::after{content:"\f004\f004\f004";}
            &:nth-child(4) .title-option::after{content:"\f004\f004\f004\f004";}
            &:nth-child(5) .title-option::after{content:"\f004\f004\f004\f004\f004";}
        }
        >.rating-table.star{ 
            tr:nth-child(1) .title-option::after{content:"\f005";}
            tr:nth-child(3) .title-option::after{content:"\f005\f005";}
            tr:nth-child(5) .title-option::after{content:"\f005\f005\f005";}
            tr:nth-child(7) .title-option::after{content:"\f005\f005\f005\f005";}
            tr:nth-child(9) .title-option::after{content:"\f005\f005\f005\f005\f005";}
        }
        >.rating-table.smile{
            tr:nth-child(1) .title-option::after{content:"\f118";}
            tr:nth-child(3) .title-option::after{content:"\f118\f118";}
            tr:nth-child(5) .title-option::after{content:"\f118\f118\f118";}
            tr:nth-child(7) .title-option::after{content:"\f118\f118\f118\f118";}
            tr:nth-child(9) .title-option::after{content:"\f118\f118\f118\f118\f118";}
        }
    }
}

/*video-pdf */
.pdf-block.video-pdf {
    @include pdfStyles('video', $color-video, #928AFF);
    
    .video-table-Q{
        >thead, >tbody{
            >tr >th,  >tr >td{
                page-break-inside: avoid;
                &:nth-child(1){
                    width: 300px;
                }
            }
        }
    }
    
    .video-table-poll{
        &:not(:first-child){
            margin-top: -1px;
        }
    }
    .video-table-poll.top1{
        .title-num{
            color: #4B42D2;  
        }
        .pdf-table-bar .poll-progress{
            background-color: #4B42D2 !important;
        }
    }
}

