.KsHanPZ{
    box-sizing: border-box;
    font-size: 48px;
    line-height: 0;
    .KsHanPZ__wrapper{
        display: inline-block;
        position: relative;
        zoom:1;
        &:before,&:after {
            content:"";
            display:table;
        }
        &:after {
            clear:both;
        } 
    }
    .KsHanPZ__item{
        display: inline-block;
        position: relative;
        float: left; 
        padding-right: .25em + .25em*.9;
        padding-bottom: .25em;
        .KsHanPZ__item-w{ 
            display: inline-block;
            font-size: 1em;
            font-family: 'DFKai-SB', BiauKai, KaiTi;
            text-align: center;
            line-height: 1;
            float: left;
            width: 1em;
            height: 1em;
        }
        .KsHanPZ__item-p{
            display: inline-block;
            font-size: .25em;
            font-family: Arial, "sans-serif";
            text-align: center;
            line-height: 1.1;  
            width: 4em;
            height: 1em;
            position: absolute;
            bottom:0;
            left:0;
            .pi{}
            .pf{}
            .pt{}
        }
        .KsHanPZ__item-z{
            display: inline-block;
            font-size: .25em;
            font-family: 'DFKai-SB', BiauKai, KaiTi;
            text-align: center;
            line-height: 1;
            width: 1em;
            height: auto;
            position: absolute;
            top: 2em;
            left: 4em;
            transform:translateY(-50%);
            .zi{}
            .zf{}
            .zt{  
                position: absolute;
                bottom: .5em;
                left: 1.1em;
                font-size: 1em;
                &.zt5{ 
                    top:-.8em;
                    left:0; 
                }
            }
        }
    }
}

/*typePosition*/
.KsHanPZ.text-left{ 
    text-align: left;     
}
.KsHanPZ.text-center{ 
    text-align: center;   
}
.KsHanPZ.text-right{ 
    text-align: right;   
}

/*typeSet*//*空間可見(字有輸入透明遠離，字無輸入則保留空間)*/
.KsHanPZ.type-HanPZ{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{  
            }
            .KsHanPZ__item-p{               
            }
            .KsHanPZ__item-z{               
            }
        }
    }
    //&.hidden-Han{
//    .KsHanPZ__wrapper{
//        .KsHanPZ__item{
//            padding-right: .25em + .25em*.9;
//            padding-bottom: .25em;
//            .KsHanPZ__item-w{
//                /*width: 0;*/
//                /*height: 0;*/
//                text-indent: -9999px;
//                overflow: hidden;
//                color: transparent;
//            }
//            .KsHanPZ__item-p{               
//            }
//            .KsHanPZ__item-z{               
//            }
//        }
//    }    
//    }
}
.KsHanPZ.type-HanP{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{               
            }
            .KsHanPZ__item-p{               
            }
            .KsHanPZ__item-z{
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
    //&.hidden-Han{
//    .KsHanPZ__wrapper{
//        .KsHanPZ__item{
//            padding-right: 0;
//            padding-bottom: .25em;
//            .KsHanPZ__item-w{
//                /*width: 0;*/
//                height: 0;
//                text-indent: -9999px;
//                overflow: hidden;
//                color: transparent;
//            }
//            .KsHanPZ__item-p{               
//            }
//            .KsHanPZ__item-z{               
//            }
//        }
//    }    
//    }
}
.KsHanPZ.type-HanZ{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{               
            }
            .KsHanPZ__item-p{ 
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{               
            }
        }
    }
}
.KsHanPZ.type-Han{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{               
            }
            .KsHanPZ__item-p{ 
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
}
.KsHanPZ.type-P{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{               
            }
            .KsHanPZ__item-z{ 
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
}
.KsHanPZ.type-Z{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{ 
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{ 
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{               
            }
        }
    }
}
.KsHanPZ.type-PZ{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            .KsHanPZ__item-w{
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{               
            }
            .KsHanPZ__item-z{               
            }
        }
    }
}
/*hiddenSet*//*將空間隱藏*/
.KsHanPZ.hidden-HanPZ{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: 0;
            padding-bottom: 0;
            .KsHanPZ__item-w{ 
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
}
.KsHanPZ.hidden-HanP{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: .25em + .25em*.9;
            padding-bottom: 0;
            .KsHanPZ__item-w{ 
                width: 0;
                /*height: 0;*/
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{     
            }
        }
    }
}
.KsHanPZ.hidden-HanZ{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: 0;
            padding-bottom: .25em;
            .KsHanPZ__item-w{ 
                /*width: 0;*/
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{    
            }
            .KsHanPZ__item-z{
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
}
.KsHanPZ.hidden-Han{ /*look like the same with set-PZ*/
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: .25em + .25em*.9;
            padding-bottom: .25em;
            .KsHanPZ__item-w{
                /*width: 0;*/
                /*height: 0;*/
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-p{ 
            }
            .KsHanPZ__item-z{  
            }
        }
    }
}
.KsHanPZ.hidden-P{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: .25em + .25em*.9;
            padding-bottom: 0;
            .KsHanPZ__item-w{   
            }
            .KsHanPZ__item-p{ 
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{   
            }
        }
    }
}
.KsHanPZ.hidden-Z{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: 0;
            padding-bottom: .25em;
            .KsHanPZ__item-w{ 
            }
            .KsHanPZ__item-p{ 
            }
            .KsHanPZ__item-z{ 
                width: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
}
.KsHanPZ.hidden-PZ{
    .KsHanPZ__wrapper{
        .KsHanPZ__item{
            padding-right: 0;
            padding-bottom: 0;
            .KsHanPZ__item-w{
            }
            .KsHanPZ__item-p{
                idth: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
            .KsHanPZ__item-z{
                idth: 0;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                color: transparent;
            }
        }
    }
}