@mixin radioItem($color) {
/*.radioBlock__radioItem{*/
    padding-left: 0px;
    >label{  
        display:block;
        border:1px solid #ddd;
        background-color: #FFF;
        text-align:center;
        margin-bottom: 1.5rem;
        padding:2.5rem 0;
        color:$color-default-gray;
        position:relative;
        border-radius: 10px;
        &::before{
            display:none;
            top: .5rem;
			left: .5rem;
        }
        &::after{
            display:none; 
            top: calc(.5rem + 4px);
			left: calc(.5rem + 4px);
        }
        i { 
            margin:0 .2rem;
            font-size:1.8rem;
            vertical-align: text-top;
        }
        i:nth-of-type(1){ 
            font-size:3.4rem;
        }
        
        .labelText{
            display: block;
            margin-top:.25rem;
            font-size:1rem;
            font-weight:400;
            color:$color-default-gray;
        }
        &:hover, &:focus, &:active{
            background-color: rgba($color, 0.5);
            &::before{
                display:block;
            }
            &::after{
                display:block; 
            }
        }
    }
    /*checked*/
    >input[type="radio"]:checked + label{
        border-color:$color;
        box-shadow:inset 2px 2px $color, inset -2px -2px $color;
        background-color: lighten($color, 40%);
        &::before{
            display:block;
        }
        &::after{
            display:block; 
        }
    }
}