@mixin switch-color($color) {
    > input:first-child:checked + label::before,
    > input:first-child:checked + input[type="hidden"] + label::before {
        border-color: $color;
        background-color: $color;
    }
    
    > input:first-child:not(:disabled):hover + label::before,
    > input:first-child:not(:disabled):hover + input[type="hidden"] + label::before {
        border-color: darken($color, 5%);
    }
}