$color-main-blue:		#0c6db9; 
$color-main-sky:		#00b0ec; 
$color-main-green:		#14a83b; 
$color-main-yellow:		#f8bc00;
$color-main-purple:		#bc87ba; 
$color-main-orange:		#db600e;
$color-main-skin:		#f37d7d; //* ori: f3a07d*/
$color-main-cyan:		#3dbcba;

$color-default-black:	#2e3233;
$color-default-gray:	#5c6466;

$color-text-red:		#ff5151;

//*special purple color for C*/
$color-main-purple-part:		#cb87aa;
$color-main-purple-text:		#9977b3;

$color-bg:				#f8f9fa; 
$color-bg-sky:			lighten($color-main-sky, 50%); 
