@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

html, body{
    font-family: 'Noto Sans', 
                 'Noto Sans TC', 'Noto Sans SC',  
                 'Microsoft JhengHei', 'Microsoft YaHei', 
                 'PingFang TC', 'PingFang SC',  
                 'Heiti TC', 'Heiti SC', 
                 'LiHei Pro', 'STXihei', 
                 Arial, sans-serif !important;
}

html[lang="tw"],          html[lang="tw"] body, 
html[lang="TW"],          html[lang="TW"] body,
html[lang="zh-tw"],       html[lang="zh-tw"] body,
html[lang="zh-TW"],       html[lang="zh-TW"] body,
html[lang="zh-Hant"],     html[lang="zh-Hant"] body,
html[lang="zh-Hant-TW"],  html[lang="zh-Hant-TW"] body,
html[lang="zh-Hans-TW"],  html[lang="zh-Hans-TW"] body {
    font-family: 'Noto Sans', 
                 'Noto Sans TC',  
                 'Microsoft JhengHei', 
                 'PingFang TC',
                 'Heiti TC', 
                 'LiHei Pro',
                 Arial, sans-serif !important; 
}

html[lang="cn"],          html[lang="cn"] body,
html[lang="CN"],          html[lang="CN"] body,
html[lang="zh-cn"],       html[lang="zh-cn"] body,
html[lang="zh-CN"],       html[lang="zh-CN"] body,
html[lang="zh-Hans"],     html[lang="zh-Hans"] body,
html[lang="zh-Hans-CN"],  html[lang="zh-Hans-CN"] body,
html[lang="zh-Hant-CN"],  html[lang="zh-Hant-CN"] body {
    font-family: 'Noto Sans', 
                 'Noto Sans SC',  
                 'Microsoft YaHei', 
                 'PingFang SC',  
                 'Heiti SC', 
                 'STXihei', 
                 Arial, sans-serif !important;
}