// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #0066cc !default;
$indigo:  #6610f2 !default;
$purple:  #bc87ba !default;
$pink:    #cb87aa !default;
$red:     #ff5151 !default;
$orange:  #db600e !default;
$yellow:  #f8bc00 !default;
$green:   #14a83b !default;
$teal:    #20c997 !default;
$cyan:    #3dbcba !default;
$sky:	  #00b0ec !default;
$skin:	  #f37d7d !default;
// scss-docs-end color-variables

$color-CA:     $cyan;   //eM v2.0 $color-main-cyan
$color-listen: #E9FDFF; //聽打練習
$color-flip:   #FEE6E6; //翻轉卡片
$color-openQ:  #E6FDEF; //你問我答
$color-poll:   #DFF0FF; //選你所想
$color-rating: #FFFAD5; //滿意度大調查
$color-video:  #E3DFFF; //看影片回答問題