html:lang(en), :lang(en) body,
html:lang(en-us), :lang(en-us) body,
html:lang(en-US), :lang(en-US) body { 
    .navi-main{
        font-size:.9rem;    
    }
}

.navi-main{
	font-size:1rem;
	background-color:#FFF;
	margin-bottom:0;
	padding-top:.5rem;
	padding-bottom:.75rem;
	border-radius:0;
	background-image:url(../images/navi-main-line.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size: 100% 7px;
	border:none;
	min-height: .5rem + 3.6rem + .75rem;
	.navbar-header{
		@media screen and (min-width: 1200px) {
		margin-right:1.0rem;
		}
		.navbar-toggle[data-target="#navbar"]{
			border-color: $color-main-blue;
			background-color:$color-main-blue;
			margin-top:.75rem;
			margin-right: 0;
			.icon-bar{
				background-color:#FFF;
			}
		}
		.navbar-toggle[data-target="#navbar"]:hover{
			border-color: darken($color-main-blue, 10%);
			background-color:darken($color-main-blue, 10%);
			.icon-bar{
				background-color:#FFF;
			}
		}

		.navbar-toggle[data-target="#navbar"]:not(.collapsed){/*its means open*/
			+ .navbar-toggle[data-target="#sidebar"] {
				display: none; 
			}
		}
		.navbar-toggle[data-target="#navbar"]:not(.collapsed){/*its means open*/
			+ .navbar-toggle[data-target="#sidebar-right"] {
				display: none; 
			}
		}
		
		.navbar-brand{
			margin-left: 0px;
			padding: 0;
			height:3.6rem;			
			@extend .flex-center;
			@media screen and (max-width: 768px) {
			max-width: calc(100% - 15px - 15px - 34px);	
			}
			> img{
				width:auto;
                height:2.0rem;    
			}
		}
		h1{
			width:0;
            height: 0;
			text-indent:-9999px;
			overflow:hidden;
		}
	}
	/*left nav*/
	.nav.navbar-nav{
        @media screen and (min-width: 1200px) { 
        height: 3.6rem; 
        display: flex;
        align-items: center;    
        }
		> li{
			margin:calc(1rem - 1px) .75rem 0 .75rem;
			border-bottom:3px solid transparent;
            @media screen and (min-width: 1200px) { 
            margin: 0 .5rem 0 .5rem;    
            text-align: center;  
			}
            @media screen and (min-width: 1240px) {
            margin: 0 .75rem 0 .75rem;     
            }
            @media screen and (min-width: 1540px) {     
			max-width: none;
            text-align: center;
			}
			> a { background-color: rgba(255,0,0, .1);
				color:#333;
				padding:0.25rem 0;
				line-height:1rem;
				position:relative;
				background-color:transparent;
				&:active, &:focus, &:hover{
					background-color:transparent;
				}
			}
		}
		> li:hover, > li:focus, > li:active{
			> a { 
				color: $color-main-blue;
				background-color:transparent;
			}
		}
		> li.active{ 
			> a{
				color: $color-main-blue;
				font-weight:500;
			}
		}
		> li.active.dropdown.open{
			> a, > a:hover, > a:focus, > a:active{
				background-color: transparent;
			}
		}
		> li.dropdown.open{
			> a, > a:hover, > a:focus, > a:active{
				background-color: transparent;
				color: $color-main-blue;
			}
		}
		.dropdown-menu{ 
			border:none;
			border-radius:0 0 .5rem .5rem;
			padding:0;
			font-size:0.9em;
			background-color:#FFF;
			position: relative !important;
			> li{
				a{
					color:$color-default-black;
					padding:.4rem 1.1rem;
					background-color: #FFF;
					white-space: normal;
					&:hover, &:focus, &:active{
						color: $color-main-blue;
						background-color:#f1f1f1;
					}
				}
			}
		}
	}
	@media screen and (min-width: 1200px) {
	.nav.navbar-nav{
		> li.dropdown:hover {
			.dropdown-menu{
				display: block;
			}
		}
		.dropdown-menu{
			position: absolute !important;	
			box-shadow: none;
			left:-46px;
			border-top:10px solid transparent;
			> li{
				padding-top:0.25rem;
				padding-bottom:0.25rem;
				a{ 
					padding:3px 0px;	
					text-align:center;
				}
			}
			> li:first-child{ 
				margin-top:10px;
			}
			> li:last-child{ 
				margin-bottom:10px;
			}
		}
	}	
	}
	/*right nav*/
	.nav.navbar-nav.navbar-right{
		margin-right: 0px;
        @media screen and (min-width: 1200px) { 
        height: 3.6rem; 
        display: flex;
        align-items: center;    
        }
		> li{
			margin:19px 10px 0 10px;
            @media screen and (min-width: 1200px) {
            margin:0 10px 0 10px;      
			}
            .navi-main__activityBtn{
                font-size:1.0em;
				border:1px solid $color-main-blue !important;
				color: #FFF !important;
                background-color: $color-main-blue;
				border-radius:30px;
				text-align:center;
				padding: 5px 8px 5px 8px;
				margin:0px 5px 0px 5px;
                white-space: normal;
				@media screen and (min-width: 1200px) {
				margin:0px -5px 0px -5px;  
				}
                &:hover, &:hover:hover, &:hover:focus, &:hover:active,
				&:focus, &:focus:hover, &:focus:focus, &:focus:active,
				&:active &:active:hover &:active:focus &:active:active{
					background-color: darken($color-main-blue, 7%);
					color:#FFF !important;
					box-shadow: none;
				}
                position: relative;
               /* overflow: hidden;*/
                &::after{
					content: "";
					display: block;
					width: 5%;
					height: 200%;
					position: absolute;
					top: 0;
					left:-25%; 
                    background-color: red;
					background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
					background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%); 
					background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%); 
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); 
					-moz-transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
					-o-transform:rotate(45deg);
					-ms-transform:rotate(45deg);
					transform:rotate(45deg);
					transform-origin:right top;
					-webkit-animation: AN-btnFlash 4s linear infinite alternate;
					-moz-animation: AN-btnFlash 4s linear infinite alternate;
					-ms-animation: AN-btnFlash 4s linear infinite alternate;
					-o-animation: AN-btnFlash 4s linear infinite alternate;
					animation: AN-btnFlash 4s linear infinite alternate;
				}
            }
			.navi-main__loginBtn{
				font-size:1.0em;
				border:1px solid $color-main-blue !important;
				color: $color-main-blue !important;
				border-radius:30px;
				text-align:center;
				padding: 5px 8px 5px 8px;
				margin:0px 5px 0px 5px;
				@media screen and (min-width: 1200px) {
				margin:0px -5px 0px -5px;	
				}
				&:hover, &:hover:hover, &:hover:focus, &:hover:active,
				&:focus, &:focus:hover, &:focus:focus, &:focus:active,
				&:active &:active:hover &:active:focus &:active:active{
					background-color: $color-main-blue;
					color:#FFF !important;
					box-shadow: none;
				}
			}
			.navi-main__languageBtn{
				font-size:0.9rem;
				margin:0px 5px 0px 5px;
				@media screen and (min-width: 1200px) {
				margin:0px -5px 0px -5px;	
				}
			}
			.navi-main__languageMenu{ 
				li{
					a{ 
						font-size:0.9em;
                        font-weight: 400;
						text-align:left;
						padding:8px 10px 8px calc(10px + 1.25em);
						.language-icon{
							display: inline-block;
							width: 1em;
							height: 1em;
							margin-left:-1.25em;
							> .glyphicon{
								display: none;
							}
						}
					}
					a[check="checked"]{
						.language-icon{
							> .glyphicon{
								display: inline-block;
							}
						}
					}
				}
				@media screen and (min-width: 1200px) {
				left:auto;
				right:0;
					> li{
						a{ 
							padding:6px 10px 6px calc(10px + 1.25em);
							text-align:left;
						}
					}
					> li:last-child{
						a{
							padding-bottom:15px;
						}
					}
				}
			}
			.navi-main__loginedBtn{
				font-size:0.9em;
				color: $color-main-blue!important;
				text-align:left;
				display:inline-block;
				padding:5px 0px 5px 0px;
				margin: 0px 5px 0px 5px;
				@media screen and (min-width: 1200px) {
				text-align:center;
				margin: 0px -5px 0px -5px;	
				}
				&:hover, &:hover:hover, &:hover:focus, &:hover:active,
				&:focus, &:focus:hover, &:focus:focus, &:focus:active,
				&:active &:active:hover &:active:focus &:active:active{
					box-shadow:0 1px  $color-main-blue;
				}
			}
            .navi-main__loginedBtn + .dropdown-menu{
            @media screen and (max-width: 1199px) {
                display: block;
                float: none;
                width: auto;
                margin-top: 0;
                box-shadow: none;
            }    
            }
			.navi-main__logoutBtn{
				font-size:0.9em;
				border:1px solid  $color-main-blue !important;
				color: $color-main-blue !important;
				border-radius:30px;
				text-align:center;
				padding: 5px 8px 5px 8px;
				margin:0px 5px 0px 5px;
				@media screen and (min-width: 1200px) {
				margin:0px -5px 0px -5px;	
				}
				&:hover, &:hover:hover, &:hover:focus, &:hover:active,
				&:focus, &:focus:hover, &:focus:focus, &:focus:active,
				&:active &:active:hover &:active:focus &:active:active{
					background-color: $color-main-blue;
					color:#FFF !important;
					box-shadow: none;
				}
			}
			.navi-main__userMenu{ 
				li{
					a{ 
						font-size:0.9em;
						font-weight:300;
						text-align:left;
						padding:8px 10px 8px 10px;
					}
					a.navi-main__logoutBtn{
						text-align:center;
						padding: 5px 8px 5px 8px;
    					margin: 0px 0px 0px 0px;
					}
				}
				@media screen and (min-width: 1200px) {
				left:auto;
				right:0;
					> li{ 
						a{ 
							padding:6px 10px 6px 10px;
							text-align:left;
						}
						a.navi-main__logoutBtn{
							min-width: auto !important;
							width: calc(100% - 10px - 10px);
							margin:0 10px;
						}
					}
				}
			}
		}
	}
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: calc(100vh - (.5rem + 3.6rem + .75rem));
}
