//.assign-item{
//	@media screen and (min-width: 768px){
//	>.row{
//		display: flex;
//		align-items: center; 
//	}
//	[class*="btn-main"]{
//		margin-bottom:.25rem;
//	}	
//	}
//	@media screen and (min-width: 1200px){
//	.for-flex{
//		>.row{
//			display: flex;
//			align-items: center; 
//			
//		}
//		.book-item__topic{
//			min-height:auto;
//			height:auto;
//			h3{margin-bottom:0;}
//			h4{margin-bottom:0;}
//		}
//		[class*="btn-main"]{
//			margin-bottom:0;
//		}
//	}
//	}
//}

.assign-tab{
	.nav-tabs{
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        >li{
            >a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: lighten($color-default-gray, 20%);
                &:hover{
                    background-color: lighten($color-main-blue, 50%);
                }
                >.label{
                    padding: .25em .6em .25em;
                    border-radius: 2rem;
                    background-color: lighten($color-default-gray, 20%);
                    margin-left: .25rem;
                }
            }
        }
        >li.active{
            >a{
                color: $color-main-blue;
                background-color: #f4f5f5;
                >.label{
                    background-color: $color-main-blue;
                }
            }
        }
	}
	.tab-content{
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -15px;
        table{
            margin-bottom: 0;
            thead{
                background-color: #f4f5f5;    
            }
            thead, tbody{
                tr{
                    th, td{
                        min-width: 100px;
                        padding-left: 15px;    
                        padding-right: 15px;   
                    }    
                }
            }
            tbody tr:hover{
                th, td{
                    background-color: lighten($color-main-sky, 50%);     
                }
            }
        }
	}
}