.classAct-code{
    margin-top: 4rem;
    text-align: center;
    .form-inline{
        display: inline-block;
        padding: 15px 15px;
        border-radius: 200px;
        .form-group{
            display: flex;
            align-items: center;
            flex-direction: column;
            @media screen and (min-width: 992px) {
            flex-direction : row;
            }
            label{ 
                color: #fff;
                font-weight: 400;
                margin-bottom: .5rem;
                @media screen and (min-width: 992px) {  
                margin:0 1rem;
                }    
            }
            .input-group{
                position: relative;
                .form-control{
                    border-radius: 50px 50px;
                    padding-right: 46px;
                }
                .input-group-btn{
                    position: absolute;
                    top: 50%;
                    right: .25rem;
                    bottom: 0;
                    transform: translateY(-50%);
                    width: calc(46px - .25rem*2);
                    height: calc(46px - .25rem*2);
                    z-index: 5;
                    >.btn{
                        padding: 0;
                        width: calc(46px - .25rem*2);  
                        height: calc(46px - .25rem*2);
                        line-height:calc(46px - .25rem*2 - 2px); 
                        text-align: center;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}