.customized-step{
    background-color: $color-bg;
	h3{
		color: $color-main-blue;
		font-size: 1.2rem;
		font-weight: 400;
        text-align: left;
        margin-bottom: 1.5rem;
		big{
			font-size: 1.8rem;
			margin-right: 1rem;
			font-weight: 500;
		}
	}
	p{
		text-align: left;
        font-size: 1.0rem;
	}
    .for-step1{
        padding-top: 3rem;
        padding-bottom: 3rem; 
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center; 
        }
    }
    .for-step2{
        padding-top: 3rem;
        padding-bottom: 3rem;
        @media screen and (min-width: 1600px) {
        padding-left: 8.33333333%;
        padding-right: 8.33333333%;
    }
    }
    .for-step3{
        padding-top: 3rem;
        padding-bottom: 3rem;
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center; 
        }
    }
}
.ui-84{
    /*@media screen and (min-width: 1200px) and (max-width: 1599px) {
        margin-left: -8.33333333%;
        margin-right: -8.33333333%;
    }*/
	.ui-item{
		margin:20px auto;
		position:relative;
		z-index:10;
		overflow:hidden;
		border-radius:1rem;
		.ui-top{
			padding:1.5rem .5rem;
			text-align:center;
			border-radius:1rem;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			.ui-item__icon{ 
				width:40px;
                height:40px;
                margin: 0 auto;
                @extend .flex-center;
			}
			h2 {
				font-size:1.2em;
				line-height:28px;
				text-transform:uppercase;
				color:#FFF;
				font-weight:400;
			}
		}
		.circle{ 
			display:none;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			position:absolute;
			width:150%;
			margin:0px auto;
			background: #FFF;
			height:300px;
			max-height:300px;
			z-index:20;
			border-radius:100%;
			top:150px;
			left:-25%;
		}
		.ui-bottom{
			display:none;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			position:relative;
			z-index:30;
			/*border:1px solid #ddd;*/
			border-top:0px;
			padding:10px 15px 10px 15px;
			text-align:center;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;
            background-color: #FFF;
			p{
				font-size:.95rem;
				text-align:left;
				line-height:1.5;
				color:$color-default-gray;
                min-height: .95rem*1.5*5;
                @media screen and (min-width: 992px) {
                min-height: .95rem*1.5*7;   
                }
                @media screen and (min-width: 1200px) {
                min-height: .95rem*1.5*5; 
                }
			}
		}
	}
	.ui-item{
		border-radius:1rem;
		border:1px solid #ddd;
		.ui-top{
			padding:1.5rem .5rem 3.5rem .5rem;
			border-radius:0;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
		.circle{ display:block;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
		.ui-bottom{display:block;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			p{
			}
		}
	}
}