.myCourseHeader{ /*base on myLibsHeader(_myLibsHeader.scss)*/
	background-color: #FFF;
	position: relative;
	padding: 1.75rem 0 0.0855rem 0; 
	@media screen and (min-width: 1600px) {
	padding: 1.75rem 0 0.1rem 0; 	
	}
	.myCourseHeader__img{
		@media screen and (min-width: 992px) {
		position: absolute;
		top: .75rem;
		left: .75rem;
		max-width: 110%;
		width: 110%;
		z-index:10;	
		}
		@media screen and (min-width: 1200px) {
		position: absolute;
		top: -.5rem;
		left: .75rem;
		max-width: 110%;
		width: 110%;
		z-index:10;		
		}
		@media screen and (min-width: 1600px) {
		position: absolute;
		top: 0;
		left: 2rem;
		max-width: 120%;
		width: 120%;
		z-index:10;		
		}
	}
}
