.register-page{
	padding-top:20px;
	padding-bottom:60px;
	h2{
		font-size:1.2rem;
		font-weight:400;
	}
	.for-Dradio{ 
		padding-top:6px;
		min-height:46px;
	}
	.Dradio-main-blue{
		display:inline-block;
        font-size: .9rem;
		+.Dradio-main-blue{
			margin-left:1rem;
		}
	}
	.form-control{
		@media screen and (max-width: 767px) {
		margin-top:5px;
		margin-bottom:5px;
		}
	}
}