.schoolLibs{
     >[class*="container"] >.row >[class*="col"] >.row {
        display: flex;
        align-items: center;
    }    
}

.panel-group-checkbox{
    .panel{
        box-shadow: none;
        border-radius: 0;
        +.panel{
            margin-top: -1px;
        }
        .panel-heading{
            .panel-title {
                a{
                    text-decoration: none;
                }
            }
        }
        .panel-body{
            padding: 0;
            .table{
                margin: -1px;
                th, td{
                    padding: 15px;
                    padding-right: 15px;
                }
            }
        }
    }  
}

.modal-stuSet{
    .panel-group-checkbox{
        .panel{
            .panel-heading{
                .panel-title {
                    display: flex;
                    align-items: center;
                    a{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        position: relative;
                        small{
                            margin-left: 1rem;
                        }
                        &:hover{
                            color: $color-main-blue;    
                        }
                        &:after{
                            display: inline-block;
                            font-family: "Font Awesome 5 Free"; 
                            font-weight: 900; 
                            font-size: 1rem; 
                            position: absolute;
                            right: 0;
                        }
                        &[aria-expanded="false"]:after{
                            content: "\f078";
                        }
                        &[aria-expanded="true"]:after{
                            content: "\f077";
                        }
                    }
                }
            }        
        }    
    }
}