.btn {
	font-size:.9rem;
}
.btn-xs{
	font-size:.75rem;
}
.btn-lg{
	font-size:.9rem;
}
.btn{
	text-decoration:none !important;
}

.btn-main-blue {
  @include button-variant(#FFF, $color-main-blue, $color-main-blue);
}
.btn-main-blue-white {
  @include button-variant($color-main-blue, #fff, $color-main-blue);
}
.btn-main-blue-lighten {
	@include button-variant($color-main-blue, lighten($color-main-blue, 45%), lighten($color-main-blue, 45%));
}

.btn-main-sky {
  @include button-variant(#FFF, $color-main-sky, $color-main-sky);
}
.btn-main-sky-white {
  @include button-variant($color-main-sky, #fff, $color-main-sky);
}
.btn-main-sky-lighten {
	@include button-variant($color-main-sky, lighten($color-main-sky, 45%), lighten($color-main-sky, 45%));
}

.btn-main-green {
  @include button-variant(#FFF, $color-main-green, $color-main-green);
}
.btn-main-green-white {
  @include button-variant($color-main-green, #fff, $color-main-green);
}
.btn-main-green-lighten {
	@include button-variant($color-main-green, lighten($color-main-green, 45%), lighten($color-main-green, 45%));
}

.btn-main-yellow {
  @include button-variant(#FFF, darken($color-main-yellow, 5%), darken($color-main-yellow, 5%));
}
.btn-main-yellow-white {
  @include button-variant(darken($color-main-yellow, 5%), #fff, darken($color-main-yellow, 5%));
}
.btn-main-yellow-lighten {
	@include button-variant(darken($color-main-yellow, 15%), lighten($color-main-yellow, 35%), lighten($color-main-yellow, 35%));
}

.btn-main-purple {
  @include button-variant(#FFF, darken($color-main-purple, 5%), darken($color-main-purple, 5%));
}
.btn-main-purple-white {
  @include button-variant(darken($color-main-purple, 5%), #fff, darken($color-main-purple, 5%));
}
.btn-main-purple-lighten {
	@include button-variant(darken($color-main-purple, 10%), lighten($color-main-purple, 25%), lighten($color-main-purple, 25%));
}

.btn-main-orange {
  @include button-variant(#FFF, $color-main-orange, $color-main-orange);
}
.btn-main-orange-white {
  @include button-variant($color-main-orange, #fff, $color-main-orange);
}
.btn-main-orange-lighten {
	@include button-variant($color-main-orange, lighten($color-main-orange, 40%), lighten($color-main-orange, 40%));
}

.btn-main-skin {
  @include button-variant(#FFF, darken($color-main-skin, 5%), darken($color-main-skin, 5%));
}
.btn-main-skin-white {
  @include button-variant(darken($color-main-skin, 5%), #fff, darken($color-main-skin, 5%));
}
.btn-main-skin-lighten {
	@include button-variant(darken($color-main-skin, 15%), lighten($color-main-skin, 20%), lighten($color-main-skin, 20%));
}


.btn-main-cyan {
  @include button-variant(#FFF, $color-main-cyan, $color-main-cyan);
}
.btn-main-cyan-white {
  @include button-variant($color-main-cyan, #fff, $color-main-cyan);
}
.btn-main-cyan-lighten {
	@include button-variant($color-main-cyan, lighten($color-main-cyan, 45%), lighten($color-main-cyan, 45%));
}


.btn-default-gray {
  @include button-variant(#FFF, lighten($color-default-gray, 20%), lighten($color-default-gray, 20%));
}
.btn-default-gray-white {
  @include button-variant(lighten($color-default-gray, 20%), #fff, lighten($color-default-gray, 20%));
}

/*special purple color for C*/
.btn-main-purple-part {
  @include button-variant(#FFF, darken($color-main-purple-part, 5%), darken($color-main-purple-part, 5%));
}
.btn-main-purple-part-white {
  @include button-variant(darken($color-main-purple-part, 5%), #fff, darken($color-main-purple-part, 5%));
}
.btn-main-purple-part-lighten {
	@include button-variant(darken($color-main-purple-part, 10%), lighten($color-main-purple-part, 25%), lighten($color-main-purple-part, 25%));
}
.btn-main-purple-text {
  @include button-variant(#FFF, darken($color-main-purple-text, 5%), darken($color-main-purple-text, 5%));
}
.btn-main-purple-text-white {
  @include button-variant(darken($color-main-purple-text, 5%), #fff, darken($color-main-purple-text, 5%));
}
.btn-main-purple-text-lighten {
	@include button-variant(darken($color-main-purple-text, 10%), lighten($color-main-purple-text, 25%), lighten($color-main-purple-text, 25%));
}

.input-group{
	.form-control{}
	.input-group-btn{
		.btn{
			padding:5px 12px 6px 12px;
		}
	}
}