.progress-bar-blue{
    background-color: $color-main-blue;  
}
.progress-bar-sky{
    background-color: $color-main-sky;  
}
.progress-bar-green{
    background-color: $color-main-green;  
}
.progress-bar-yellow{
    background-color: $color-main-yellow;  
}
.progress-bar-purple{
    background-color: $color-main-purple;  
}
.progress-bar-orange{
    background-color: $color-main-orange;  
}
.progress-bar-skin{
    background-color: $color-main-skin;  
}
.progress-bar-cyan{
    background-color: $color-main-cyan;  
}

.progress-bar-black{
    background-color: $color-default-black;  
}
.progress-bar-gray{
    background-color: $color-default-gray;  
}

.progress-bar-red{
    background-color: $color-text-red;  
}

.progress-bar-purple-part{
    background-color: $color-main-purple-part;  
}
.progress-bar-purple-text{
    background-color: $color-main-purple-text;  
}